#pyparsing==1.5.7
# the above is only required because rdflib_sparql is not specific enough
rdflib==4.1.1
httplib2==0.8
WebOb==1.3.1
PyLD==0.4.10
GitPython>=0.1.7
# For documentation purposes
#Sphinx==1.2.2
# For developpers only
#nose==1.3.1
#pylint==1.1.0
